{
  "port": 9000,
  "methods": ["post"],
  "plugin": {
    "paths": {
      "example": "plugins"
    }
  },
  "mongodb": {
      "url": "mongodb://localhost:27017/beyond"
  },
  "logger": {
    "level": {
      "log": "stdout",
      "info": null,
      "warn": [ "stderr" ],
      "debug": [ "fluentd:localhost:24224", "stderr" ],
      "error": [ "mongodb:errorLog", "stderr" ]
    }, "tags": {
      "beyond": "stdout"
    }
  }
}
